.items{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1850px;

}

#xiaomi{
    max-width: 900px;
    height: 450px;
    flex-direction: column;
    padding-left:15px ;
    margin-top: 50px;
    display: flex;
}
.all
{
    position: relative;
    bottom: 271px;
    left: 350px;
    max-width: 450px;
}

.heading
{
    font-size: 35px;
    text-align: center;
    padding: 10px;
    
}

#text,
#slider {
    display: none;
}

#text.show-details,
#slider.show-details {
    display: block;
}

#xiaomi span {
    cursor: pointer;
}

#xiaomi span:active {
    opacity: 0.8;
}

.items.rise-up {
    transform: translateY(-50px);
    transition: transform 0.3s ease-out;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}

.button
{   
    background-color: rgb(255, 18, 77);
    border-radius: 4px;
    border: none;
    padding: 2px;
    text-align: center;
    color: #FFFF;
    width: 70px;
    height: 35px;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

#maindiv
{
    display: flex;
    flex-direction: column;
    margin: auto;

}

#store
{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-width: 1850px; 
    height: 80px;
    background-color: rgb(255, 18, 77);
    border-radius: 6px;
    justify-content: center;
}

#mystore
{   
    font-size:25px;
    margin-top: 15px;
    padding-left:10px;
    color: #FFFF;
    font-weight: 600;
}

#button1
{   
    display: flex;
    flex-direction: row;
    background-color: #FFFF;
    margin-top: 10px;
    border-radius: 5px;
    width: 190px;
    height: 60px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#check
{
    position:relative;
    width:35px;
    left:10px;
    top:12px;
}

#checkout
{
    position:relative;
    font-size:20px;
    left:20px;
    top: 18px;
    font-weight:600;
    color: black;
}

#productdiv
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
    max-width: 1850px;
    text-align: center;
}

#products
{
    color: rgb(255, 18, 77);
    font-weight: 600;
    font-size:larger;
}

#checkoutx
{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-width: 1850px; 
    height: 80px;
    justify-content: right;
    position: relative;
    bottom: 95px;
    padding-right: 15px;
}

.show-details {
    display: block;
}
